<h2>Add a new animal:</h2>
<div class="new-animal-form">
  <label>Species:</label>
  <input type="text" #newSpecies><br/>
  <label>Name:</label>
  <input type="text" #newName><br/>
  <label>Age:</label>
  <input type="number" #newAge><br/>
  <label>Diet:</label>
  <input type="text" #newDiet><br/>
  <label>Location:</label>
  <input type="text" #newLocation><br/>
  <label>Caretakers:</label>
  <input type="number" #newCaretakers><br/>
  <label>Sex:</label>
  <input type="text" #newSex><br/>
  <label>Likes:</label>
  <input type="text" #newLikes><br/>
  <label>Dislikes:</label>
  <input type="text" #newDislikes><br/>
<!-- TO DO: refactor to submit entire form at once instead of the following -->
  <button class="btn btn-primary" (click)="submitForm(newSpecies.value,
                              newName.value,
                              newAge.value,
                              newDiet.value,
                              newLocation.value,
                              newCaretakers.value,
                              newSex.value,
                              newLikes.value,
                              newDislikes.value
                              );
                  newSpecies.value='';
                  newName.value='';
                  newAge.value='';
                  newDiet.value='';
                  newLocation.value='';
                  newCaretakers.value='';
                  newSex.value='';
                  newLikes.value='';
                  newDislikes.value='';">Done</button>
  <button class="btn btn-dark" (click)="cancelAddAnimal()">Cancel</button>
</div>
