<div class="container">
  <h1>
    Welcome to {{ title }}
  </h1>
  <new-animal *ngIf="showNewAnimalForm" (newAnimalSender)="addAnimal($event)" (cancelNewAnimal)="toggleNewAnimalForm()"></new-animal>
  <animal-list [childShowAddButton]="masterShowAddButton" [childAnimalList]="masterAnimalList" (editClick)="editAnimal($event)" (addClick)="toggleNewAnimalForm()"></animal-list>
  <hr>

  <edit-animal [childSelectedAnimal]="selectedAnimal" (doneEditingSender)="finishedEditing()"></edit-animal>
</div>
